<div class="copyright">
  <div class="text">Powered By
    <a href="https://hexo.io/">Hexo</a> | Theme <a href="https://github.com/Xi80/hexo-theme-Tsu_Revised">Tsu Revised</a> &copy 2022
  </div>
</div>
